.count-section{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 80px 50px -5px;
    border-radius: 10px;
}

.count-section___item{
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    gap: 1.75rem;
    text-align: left;

}
.count-section___item-content>h3{
    font-size: 1.5rem;
}
.count-section___item-content>p{
    margin-top: -15px;
    font-size: 1.25rem;
    
}
.count-section___item>img{
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
    background-color: #f5383820 ;
    
    
}