*{
  box-sizing: border-box;
  font-size: 16px;
}

.footer-container{
  padding-top: 150px;
  background-color:#F6F6F6 ;
}

.subscribe-container{
  position: relative;
  top: 150px;
}


.sub-menu-hide{
  left: -40%;
}

.sticky{
  position: sticky;
}
